@model ZLERP.Model.CarManage.CarKeep
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/CarManage/CarKeep.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find")'
        };
        $(function () {
            CarKeepIndexInit(options);
        });
    </script>
}
<div id="MyJqGrid">
</div>
<div id="CarKeepMyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        @Html.HiddenFor(m => m.ID)
        <table class="mvcform">
            <tr> 
                <td>@Html.LabelFor(m => m.CarID)@Html.DropDownListFor(m => m.CarID, (SelectList)ViewBag.CarList, new { style = "width:140px;" })
                </td>
                <td>@Html.LabelFor(m => m.KeepMileage)@Html.EditorFor(m => m.KeepMileage, new { Value = "0" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Opreater)@Html.EditorFor(m => m.Opreater) </td>
                 <td>@Html.LabelFor(m => m.KeepDate)@Html.EditorFor(m => m.KeepDate)</td>
            </tr> 
              <tr>
                <td>@Html.LabelFor(m => m.KeepCount)@Html.EditorFor(m => m.KeepCount)</td> 
                <td>@Html.LabelFor(m => m.KeepUnit)@Html.DropDownListFor(m => m.KeepUnit, (SelectList)ViewBag.CarDealingsList, "", new { style = "width:140px;" })</td>
            </tr>  
            <tr> 
                <td>@Html.LabelFor(m => m.KeepItem)@Html.EditorFor(m => m.KeepItem)</td>  
            </tr> 
                <tr> 
                  <td colspan=2>@Html.LabelFor(m => m.Remark)@Html.TextAreaFor(m => m.Remark, new { style = "width:75%" })</td> 
            </tr> 
        </table>
    }
</div>
