@model ZLERP.Model.Beton.V_B_Balance
@section HeaderSection{
<script src="@Url.Content("~/Scripts/Views/Beton/B_Balance.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            B_BalanceIndexInit(
                {
                    storeUrl: '@Url.Action("Find")',
                    DelstoreUrl: '@Url.Action("Find", "B_BalanceDel")',
                    ChangeConditionUrl: '@Url.Action("ChangeCondition")',
                    ComputeUrl: '@Url.Action("Compute")',
                    ShopdocUrl: '@Url.Action("Find", "ShippingDocument")',
                    AddShopdocUrl: '@Url.Action("AddShipDoc")',
                    AddAllBalanceUrl: '@Url.Action("AddAllBalance")',
                    UpdateUrl: '@Url.Action("Update", "B_BalanceDel")'
                }
             );
        });
</script>
}
<div id="MyJqGrid"">
</div> 
<div id="myJqGridBDetial"></div>
   <div  id="myJqGridBAddDetial" >
    </div>
<div  id="myJqGridBShowDetial" class="mvcform" style="display:none;">
 
</div>
 <div id="MyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td style="display: none">@Html.LabelFor(m => m.B_Balance.ID)@Html.EditorFor(m => m.B_Balance.ID)
                </td>
                <td>@Html.LabelFor(m => m.B_Balance.BaleNo)@Html.TextBoxFor(m => m.B_Balance.BaleNo, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                <td>@Html.LabelFor(m => m.B_Balance.OrderDate)@Html.EditorFor(m => m.B_Balance.OrderDate, "DateTime", new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd") })
                </td> 
                <td>@Html.LabelFor(m => m.B_Balance.Contract.ContractName)@Html.TextBoxFor(m => m.B_Balance.Contract.ContractName, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>  
            </tr> 
             <tr>  
             <td colspan="4"><hr/></td>
            </tr>
              <tr>
                <td>@Html.LabelFor(m => m.B_Balance.ProjectID)@Html.TextBoxFor(m => m.B_Balance.ProjectID, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.B_Balance.Project.ProjectName)@Html.TextBoxFor(m => m.B_Balance.Project.ProjectName, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
             <tr>  
             <td colspan="4"><hr/></td>
            </tr>
            <tr>  
                <td>@Html.LabelFor(m => m.B_Balance.StartDate)@Html.EditorFor(m => m.B_Balance.StartDate)
                </td>
                <td>@Html.LabelFor(m => m.B_Balance.EndDate)@Html.EditorFor(m => m.B_Balance.EndDate)
                </td> 
                 <td>@Html.LabelFor(m => m.B_Balance.InMonth)@Html.EditorFor(m => m.B_Balance.InMonth)
                </td>  
                 <td>@Html.LabelFor(m => m.B_Balance.PiaoDate)@Html.EditorFor(m => m.B_Balance.PiaoDate)
                </td>  
            </tr>
             <tr>
                <td>@Html.LabelFor(m => m.B_Balance.IsOnePrice)@Html.EditorFor(m => m.B_Balance.IsOnePrice)
                </td> 
                <td>@Html.LabelFor(m => m.B_Balance.OnePriceType)@Html.DropDownListFor(m => m.B_Balance.OnePriceType, (IEnumerable<SelectListItem>)ViewBag.BalaneType,"", new { @class = "text", style = "width:135px;" }) 
                </td> 
               <td>@Html.LabelFor(m => m.B_Balance.OnePrice)@Html.EditorFor(m => m.B_Balance.OnePrice)
                </td>   
            </tr>
              <tr>
               <td>@Html.LabelFor(m => m.B_Balance.IsStockPrice)@Html.EditorFor(m => m.B_Balance.IsStockPrice)
               </td> 
               <td>@Html.LabelFor(m => m.B_Balance.BaleType)@Html.DropDownListFor(m => m.B_Balance.BaleType, (IEnumerable<SelectListItem>)ViewBag.ItemsType, "", new { @class = "text", style = "width:135px;" }) 
               </td>   
            </tr>
             <tr>  
             <td colspan="4"><hr/></td>
            </tr>
              <tr> 
                <td>@Html.LabelFor(m => m.B_Balance.AllBCount)@Html.TextBoxFor(m => m.B_Balance.AllBCount, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllBMoney)@Html.TextBoxFor(m => m.B_Balance.AllBMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.B_Balance.AllBOkCount)@Html.EditorFor(m => m.B_Balance.AllBOkCount)
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllBOkMoney)@Html.EditorFor(m => m.B_Balance.AllBOkMoney)
                </td> 
            </tr>

              <tr> 
                <td>@Html.LabelFor(m => m.B_Balance.AllICount)@Html.TextBoxFor(m => m.B_Balance.AllICount, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllIMoney)@Html.TextBoxFor(m => m.B_Balance.AllIMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.B_Balance.AllIOkCount)@Html.EditorFor(m => m.B_Balance.AllIOkCount)
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllIOkMoney)@Html.EditorFor(m => m.B_Balance.AllIOkMoney)
                </td> 
            </tr>

                 <tr> 
                <td>@Html.LabelFor(m => m.B_Balance.AllTCount)@Html.TextBoxFor(m => m.B_Balance.AllTCount, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllTMoney)@Html.TextBoxFor(m => m.B_Balance.AllTMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                     <td>@Html.LabelFor(m => m.B_Balance.AllTOkCount)@Html.EditorFor(m => m.B_Balance.AllTOkCount)
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllTOkMoney)@Html.EditorFor(m => m.B_Balance.AllTOkMoney)
                </td> 
            </tr>
             <tr> 
                <td>@Html.LabelFor(m => m.B_Balance.AllPCount)@Html.TextBoxFor(m => m.B_Balance.AllPCount, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllPMoney)@Html.TextBoxFor(m => m.B_Balance.AllPMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                     <td>@Html.LabelFor(m => m.B_Balance.AllPOkCount)@Html.EditorFor(m => m.B_Balance.AllPOkCount)
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.AllPOkMoney)@Html.EditorFor(m => m.B_Balance.AllPOkMoney)
                </td> 
            </tr>
                 <tr>
               <td>@Html.LabelFor(m => m.B_Balance.OtherMoney)@Html.EditorFor(m => m.B_Balance.OtherMoney)
                </td>
                <td>@Html.LabelFor(m => m.B_Balance.AllOkMoney)@Html.EditorFor(m => m.B_Balance.AllOkMoney)
                </td>
            </tr>
               <tr>  
             <td colspan="4"><hr/></td>
            </tr>
               <tr>
               
                <td>@Html.LabelFor(m => m.B_Balance.PayMoney)@Html.TextBoxFor(m => m.B_Balance.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.PayOwing)@Html.TextBoxFor(m => m.B_Balance.PayOwing)
                </td> 
                 <td>@Html.LabelFor(m => m.B_Balance.PayFavourable)@Html.TextBoxFor(m => m.B_Balance.PayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
                    <tr>
               
                <td>@Html.LabelFor(m => m.B_Balance.PiaoPayMoney)@Html.TextBoxFor(m => m.B_Balance.PiaoPayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_Balance.PiaoPayOwing)@Html.TextBoxFor(m => m.B_Balance.PiaoPayOwing, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.B_Balance.PiaoPayFavourable)@Html.TextBoxFor(m => m.B_Balance.PiaoPayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
              <tr>  
             <td colspan="4"><hr/></td>
            </tr>
           <tr>
              <td>@Html.LabelFor(m => m.B_Balance.BaleDate)@Html.EditorFor(m => m.B_Balance.BaleDate)
                </td>
                   <td>@Html.LabelFor(m => m.B_Balance.BaleMan)@Html.EditorFor(m => m.B_Balance.BaleMan)
                </td>
                   <td>@Html.LabelFor(m => m.B_Balance.ThatBaleMan)@Html.EditorFor(m => m.B_Balance.ThatBaleMan)
                </td> 
            </tr> 
              <tr>
                <td colspan="4">@Html.LabelFor(m => m.B_Balance.Remark)@Html.TextAreaFor(m => m.B_Balance.Remark, new { style = "width:70%" })  
                </td>  
            </tr>
        </table>

    }
</div>
 @*过磅校正*@
<div id="MyJqGridAdd" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td>@Html.Label("纳入月份")@Html.Editor("tbInMonth", "DateTime")</td>
                <td>@Html.Label("工程名称")@Html.AutoComplete("ProjectID_1", "ProjectName", "Combo", "Project", "ID", "ProjectName", " 1= 1 ")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.B_Balance.StartDate)@Html.TextBoxFor(m => m.B_Balance.StartDate, new { Disabled = true })
                </td>
                <td>@Html.LabelFor(m => m.B_Balance.EndDate)@Html.TextBoxFor(m => m.B_Balance.EndDate, new { Disabled = true })
                </td> 
            </tr>
            @*<tr>
                <td>@Html.Label("合同名称")@Html.AutoComplete("ContractID", "ContractName", "Combo", "CustomerPlan", "ID", "ContractName", "AuditStatus = 1 and ContractStatus!='3'")</td>
            </tr>*@
        </table>
    }
</div>
