@model ZLERP.Model.ViewModels.ContractAndItems
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/ajaxfileupload.js")" type="text/javascript" language="javascript"> </script>
    <script src="@Url.Content("~/Scripts/Views/PriceSettingGH/PriceSetting.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            priceSettingIndexInit({
                ContractStoreUrl : '@Url.Action("Find", "ContractGH")',
                ContractItemStoreUrl: '@Url.Action("Find", "ContractItemGH")',
                ContractItemPriceStoreUrl: '@Url.Action("Find", "PriceSettingGH")',
//                ContractPumpStoreUrl: '@Url.Action("Find", "ContractPump")',
//                ContractPumpPriceStoreUrl: '@Url.Action("Find", "ContractPumpPrice")',
                ProjectStoreUrl: '@Url.Action("Find", "ProjectGH")'
            });
        });
    </script>
}

<div id="buttonToolbar"></div>
@*合同列表*@
<div id="ContractDiv" style="float: left; width: 40%; height: 100%"></div>
@*合同砼强度价格*@
<div id="ContractItemPriceDiv" style="float: right; width: 30%; height: 30%"></div>
@*合同砼强度列表*@
<div id="ContractItemDiv" style="float: right; width: 30%;  height: 30%"></div>
@*合同工程运费*@
<div id="ContractTransPriceDiv" style="float:right; width:30%; height:30%"></div>
@*合同工程列表*@
<div id="ProjectDiv" style="float:right; width:30%; height:30%"></div>
