@model ZLERP.Model.Material.V_M_YingYS
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/Material/M_YingSF.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find")',
            DelstoreUrl: '@Url.Action("Find", "M_VYingYS")',
            UpdateUrl: '@Url.Action("Update", "M_VYingYS")',
            PayUrl: '@Url.Action("Pay", "M_YingSF")'
        };
        $(document).ready(function () {
            $('#M_BaleBalance_BaleDate').datepicker();
        });
        $(function () {
            M_YingSFIndexInit(options);
        });
    </script>
}
<div id="MyJqGrid">
</div>

<div id="myJqGridDetial"> </div> 
 
<div id="M_YingSFPayForm" class="mvcform" style="display:none;"> 
 
    @Html.LabelFor(m => m.M_BaleBalance.StockPactID)@Html.TextBoxFor(m => m.M_BaleBalance.StockPactID, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.LabelFor(m => m.M_BaleBalance.SupplyInfo.SupplyName)@Html.TextBoxFor(m => m.M_BaleBalance.SupplyInfo.SupplyName, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.Label("应付厂商额")@Html.TextBoxFor(m => m.M_BaleBalance.SupplyInfo.PayMoney,new { @readonly = "readonly", @class = "inputReadOnly" })
    
       <div  id="myJqGridPayDetial"></div>
 
@using (Html.BeginForm())
{@Html.ValidationSummary()
    @Html.HiddenFor(m => m.M_BaleBalance.ID)
<table class="mvcform"> 
 
    <tr> 
        <td>@Html.LabelFor(m => m.M_BaleBalance.PayType)@Html.DropDownListFor(m => m.M_BaleBalance.PayType, (IEnumerable<SelectListItem>)ViewBag.FinanceType, "", new { @class = "text", style = "width:135px;" })</td>
    </tr>
      <tr> 
        <td>@Html.Label("日期")@Html.EditorFor(m => m.M_BaleBalance.BaleDate) </td>
        <td>@Html.Label("付款金额")@Html.TextBoxFor(m => m.M_BaleBalance.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
       
    </tr>
    <tr> 
          <td>@Html.LabelFor(m => m.M_BaleBalance.Payer)@Html.EditorFor(m => m.M_BaleBalance.Payer)</td> 
        <td>@Html.LabelFor(m => m.M_BaleBalance.PayFavourable)@Html.TextBoxFor(m => m.M_BaleBalance.PayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
     
    </tr>
    <tr> 
           <td>@Html.LabelFor(m => m.M_BaleBalance.Gatheringer)@Html.EditorFor(m => m.M_BaleBalance.Gatheringer)</td> 
           <td>@Html.Label("剩余应付额")@Html.TextBoxFor(m => m.M_BaleBalance.PayOwing, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
    </tr>
    <tr> 
        <td colspan="2">@Html.LabelFor(m => m.M_BaleBalance.Remark2)@Html.TextAreaFor(m => m.M_BaleBalance.Remark2, new { style = "width:70%" }) </td>
    </tr> 
</table>
}
</div>

<div id="M_YingSFPayIniForm" class="mvcform" style="display:none;"> 
@using (Html.BeginForm())
{@Html.ValidationSummary()
    @Html.HiddenFor(m => m.M_YingSFrec.UnitID)
<table class="mvcform"> 
    <tr> 
         <td>@Html.LabelFor(m => m.SupplyInfo.SupplyName)@Html.TextBoxFor(m => m.SupplyInfo.SupplyName, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
         <td>@Html.Label("原欠款额")@Html.TextBoxFor(m => m.SupplyInfo.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
         
    </tr>
      <tr> 
        <td>@Html.Label("期初应付额")@Html.TextBoxFor(m => m.SupplyInfo.PaidIn, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
         <td>@Html.Label("期初已付额")@Html.TextBoxFor(m => m.SupplyInfo.PaidOut, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
          
    </tr>
        <tr> 
        <td>@Html.Label("期初优惠额")@Html.TextBoxFor(m => m.SupplyInfo.PaidFavourable, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
        <td>@Html.Label("还需应付期初")@Html.TextBoxFor(m => m.SupplyInfo.PaidOwing, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
    </tr>
    <tr> <td  colspan="2"><hr></td></tr>
  
    <tr> 
        <td>@Html.LabelFor(m => m.M_YingSFrec.FinanceDate)@Html.EditorFor(m => m.M_YingSFrec.FinanceDate) </td>
          <td>@Html.LabelFor(m => m.M_YingSFrec.PayType)@Html.DropDownListFor(m => m.M_YingSFrec.PayType, (IEnumerable<SelectListItem>)ViewBag.FinancePerType, "", new { @class = "text", style = "width:135px;" })</td>
    </tr>
    <tr> 
        <td>@Html.Label("付款金额")@Html.TextBoxFor(m => m.M_YingSFrec.FinanceMoney) </td>
       <td>@Html.LabelFor(m => m.M_YingSFrec.PayFavourable)@Html.EditorFor(m => m.M_YingSFrec.PayFavourable)</td>
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.M_YingSFrec.Payer)@Html.EditorFor(m => m.M_YingSFrec.Payer)</td> 
        <td>@Html.LabelFor(m => m.M_YingSFrec.Gatheringer)@Html.EditorFor(m => m.M_YingSFrec.Gatheringer)</td> 
    </tr>
    <tr> 
        <td colspan="2">@Html.LabelFor(m => m.M_YingSFrec.Remark)@Html.TextAreaFor(m => m.M_YingSFrec.Remark, new { style = "width:70%" }) </td>
    </tr> 
</table>
}
</div>