@model ZLERP.Model.HR.HR_KQ_Over 
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/HR/HR_KQ_Over.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find")',
            GenerateOrderNoUrl: '@Url.Action("GenerateOrderNo", "HR_KQ_Over")',
            ChangeConditionUrl: '@Url.Action("ChangeCondition", "HR_KQ_Over")',
            uploadUrl: '@Url.Action("Upload", "Attachment")' //附加上传
        };
        $(function () {
            HR_KQ_OverIndexInit(options);
        });
    </script>
}
<div id="MyJqGrid">
</div>
<div id="MyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        @Html.HiddenFor(m => m.ID )
        <table class="mvcform">
          <tr> 
            <td>
                 @Html.LabelFor(m => m.OverNo)@Html.TextBoxFor(m => m.OverNo, new { readOnly = true, @class = "inputReadOnly" })
            </td> 
            <td> 
                 @Html.LabelFor(m => m.PersonID)@Html.AutoComplete("PersonID", "PersonIDText", "Combo", "HR_Base_Personnel", "ID", "Name", "1=1", new { style = "width:120px" }) 
            </td>
             <td>
                 @Html.LabelFor(m => m.OverType)@Html.DropDownListFor(m => m.OverType, (IEnumerable<SelectListItem>)ViewBag.Leave, "", new { @class = "text", style = "width:120px;" })
            </td>
        </tr>
        <tr> 
             <td>
                 @Html.LabelFor(m => m.StartTime)@Html.EditorFor(m => m.StartTime, "DateTimeWithTime")
            </td>
             <td>
                 @Html.LabelFor(m => m.EndTime)@Html.EditorFor(m => m.EndTime, "DateTimeWithTime")
            </td>
             <td>
                 @Html.LabelFor(m => m.DayLong)@Html.EditorFor(m => m.DayLong)
            </td>
        </tr>
         <tr> 
            <td>
                 @Html.LabelFor(m => m.Condition)@Html.TextBoxFor(m => m.Condition, new { readOnly = true, @class = "inputReadOnly" })
            </td>
            <td>
                 @Html.LabelFor(m => m.Auditor)@Html.TextBoxFor(m => m.Auditor, new { readOnly = true, @class = "inputReadOnly" })
            </td>
            <td>
                 @Html.LabelFor(m => m.AuditTime)@Html.TextBoxFor(m => m.AuditTime, new { readOnly = true, @class = "inputReadOnly" })
            </td>
         
        </tr> 
        <tr> 
            <td colspan="3">@Html.LabelFor(m => m.Reson)@Html.TextAreaFor(m => m.Reson, new { style = "width:70%" })
            </td>
        </tr> 

          <tr> 
            <td colspan="3">@Html.LabelFor(m => m.Remark)@Html.TextAreaFor(m => m.Remark, new { style = "width:70%" })
            </td>
        </tr>
            <tr> 
        <td  colspan="3">
          <label>附件
            </label><input type="file" id="uploadFile" name="upload" />
            <div id="Attachments" style="clear: both;">
            </div>
        </td>
    </tr>  
        </table>
    }
</div>
