@model ZLERP.Model.Beton.B_YingSFrec
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/Beton/B_YingSFrec.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find")',
            DelstoreUrl: '@Url.Action("Find", "B_YingSFrecdetail")',
            storeUrl2: '@Url.Action("Find", "B_PiaoYingSFrec")',
            DelstoreUrl2: '@Url.Action("Find", "B_PiaoYingSFrecdetail")',
            FindrecordUrl: '@Url.Action("Find", "B_FinanceRecord")'
        };
        $(function () {
            B_YingSFrecIndexInit(options);
        });
        $("#formula-tabs").tabs({ fx: {}, selected: 0 });
    </script>
}

<div id="formula-tabs" style="float: right; width: 100%;">
    <ul>
        <li><a href="#MyJqGrid1" id="idinfo1">付款记录查询</a></li>
        <li><a href="#myJqGrid5" id="idinfo2">资金流水管理</a></li> 
        <li><a href="#MyJqGrid6" id="idinfo3">开票记录查询</a></li> 
    </ul>
    <div id="MyJqGrid1"  class="mvcform" > 
        <div id="MyJqGrid">
        </div> 
        <div id="myJqGridDetial"></div> 
      </div>  
 
     <div id="myJqGrid5"  class="mvcform" > </div>

    <div id="MyJqGrid6"  class="mvcform" > 
    <div id="MyJqGrid2">
    </div> 
    <div id="myJqGridDetial2"></div> 
    </div>  

     </div>
    


 
