@model ZLERP.Model.OweMoney 
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/OweMoney/OweMoney.js")" type="text/javascript" 
    language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            OweMoneyIndexInit('@Url.Action("Find")');
        });
    </script>
}
<div id="MyJqGrid">
</div>

<div id="MyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        <table class="mvcform">
            
                <tr>
                    @Html.HiddenFor(m => m.ID)
                    <td>@Html.LabelFor(m => m.SettlementType)
                    @Html.TextBoxFor(m => m.SettlementType, new { @data_val_required = "结算方式 字段是必需的", data_val = "true" })</td>
                         
                    <td>@Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @data_val_required = "业务员 字段是必需的", data_val = "true" })</td>
                </tr>
                <tr>
                    
                           
                    <td>@Html.LabelFor(m => m.ProjectName)
                    @Html.TextBoxFor(m => m.ProjectName, new { @data_val_required = "项目名称 字段是必需的", data_val = "true" })</td>  
                    
                    <td>@Html.LabelFor(m => m.SaleDate)
                    @Html.EditorFor(m => m.SaleDate, "DateTimeWithTime", new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
                    </td>  
                </tr>
                <tr>
                    
                    <td>@Html.LabelFor(m => m.OweMoney)@Html.EditorFor(m => m.OweMoney)</td>
                                        
                    
                </tr>
                <tr>
                    <td  colspan="2">@Html.LabelFor(m => m.Remark)
                    @Html.TextAreaFor(m => m.Remark, new { style = "width:215px;" })</td>
                        
                </tr>
        </table>

    }
</div>
