
@model ZLERP.Model.SupplyChain.Search 
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/SupplyChain/SC_UseReport.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            SC_UseReportIndexInit({
                storeUrl: '@Url.Action("Find")',
                scTreeUrl: '@Url.Action("FindTree", "SC_Goods")' 
            });
        });
    </script>
}


<div id="GoodgType" style="float: left; width: 13%"class="ztree" >
</div>
<div>
<div  class="mvcform" >
 @Html.LabelFor(m => m.BeginDate)@Html.EditorFor(m => m.BeginDate)@Html.LabelFor(m => m.EndDate)@Html.EditorFor(m => m.EndDate)
                     @Html.LabelFor(m => m.GoodsName)@Html.TextBoxFor(m => m.GoodsName)
                     <button id="sbb" class="tbtn ui-icon-search" style=" margin:0px;" title="大类/查询" role="button" aria-disabled="false" type ="button" onclick="Search('B');return false;">查询</button>

</div> 
<div id="MyJqGrid"style="float: right; width: 86%"> 
</div> 
</div> 
 
 

 