@model ZLERP.Model.Beton.V_B_YingYS
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/Beton/B_YingSF.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        var options = {
            storeUrl: '@Url.Action("Find", "ContractAll")',
            //DelstoreUrl: '@Url.Action("Find", "B_VYingYS")',
            DelstoreUrl: '@Url.Action("Find", "B_YingSFrec")',
            UpdateUrl: '@Url.Action("Update", "B_VYingYS")',
            PayUrl: '@Url.Action("ContractPay", "B_YingSF")'
        };
        $(document).ready(function () {
            $('#B_YingSFrec_FinanceDate').datepicker();
        });
        $(function () {
            B_YingSFIndexInit(options);
        });
    </script>
}
<div id="MyJqGrid">
</div>

<div id="myJqGridDetial"> </div> 
 <div id="B_YingSFPayForm" class="mvcform" style="display:none;"> 
 
    @Html.Label("合同编码")@Html.TextBoxFor(m => m.B_Balance.ID, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.Label("合同号")@Html.TextBoxFor(m => m.B_Balance.Contract.ContractNo, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.Label("合同名称")@Html.TextBoxFor(m => m.B_Balance.Contract.ContractName, new { @readonly = "readonly", @class = "inputReadOnly" })
    @using (Html.BeginForm())
{@Html.ValidationSummary()
    <table class="mvcform"> 
        <tr> 
            <td>@Html.Label("应付总金额")@Html.TextBoxFor(m => m.B_Balance.Contract.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
            <td>@Html.Label("付款金额")@Html.TextBoxFor(m => m.B_YingSFrec.FinanceMoney, new { @class = "text", Value = 0 })</td>
            <td>@Html.LabelFor(m => m.B_YingSFrec.PayFavourable)@Html.TextBoxFor(m => m.B_YingSFrec.PayFavourable, new { @class = "text", Value = 0 })</td>
     
        </tr>
        <tr> 
            <td>@Html.LabelFor(m => m.B_YingSFrec.PayType)@Html.DropDownListFor(m => m.B_YingSFrec.PayType, (IEnumerable<SelectListItem>)ViewBag.FinanceType, "", new { @class = "text", style = "width:135px;" })</td>
            <td>@Html.LabelFor(m => m.B_YingSFrec.Payer)@Html.EditorFor(m => m.B_YingSFrec.Payer)</td> 
            <td>@Html.Label("日期")@Html.EditorFor(m => m.B_YingSFrec.FinanceDate, new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd") }) </td>
            
        </tr>
        <tr> 
            <td>@Html.LabelFor(m => m.B_YingSFrec.Gatheringer)@Html.EditorFor(m => m.B_YingSFrec.Gatheringer)</td> 
        </tr>
        <tr> 
            <td colspan="2">@Html.LabelFor(m => m.B_YingSFrec.Remark)@Html.TextAreaFor(m => m.B_YingSFrec.Remark, new { style = "width:70%" }) </td>
        </tr> 
    </table>
}
</div>



@*
<div id="B_YingSFPayIniForm" class="mvcform" style="display:none;"> 
@using (Html.BeginForm())
{@Html.ValidationSummary()
    @Html.HiddenFor(m => m.B_YingSFrec.UnitID)
<table class="mvcform"> 
    <tr> 
         <td>@Html.Label("合同名称")@Html.TextBoxFor(m => m.Contract.ContractName, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
         <td>@Html.Label("原欠款额")@Html.TextBoxFor(m => m.Contract.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
         
    </tr>
      <tr> 
        <td>@Html.Label("期初应付额")@Html.TextBoxFor(m => m.Contract.PaidIn, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
         <td>@Html.Label("期初已付额")@Html.TextBoxFor(m => m.Contract.PaidOut, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
          
    </tr>
        <tr> 
        <td>@Html.Label("期初优惠额")@Html.TextBoxFor(m => m.Contract.PaidFavourable, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
        <td>@Html.Label("还需应付期初")@Html.TextBoxFor(m => m.Contract.PaidOwing, new { @readonly = "readonly", @class = "inputReadOnly" }) </td>
    </tr>
    <tr> <td  colspan="2"><hr></td></tr>
  
    <tr> 
        <td>@Html.LabelFor(m => m.B_YingSFrec.FinanceDate)@Html.EditorFor(m => m.B_YingSFrec.FinanceDate) </td>
          <td>@Html.LabelFor(m => m.B_YingSFrec.PayType)@Html.DropDownListFor(m => m.B_YingSFrec.PayType, (IEnumerable<SelectListItem>)ViewBag.FinancePerType, "", new { @class = "text", style = "width:135px;" })</td>
    </tr>
    <tr> 
        <td>@Html.Label("付款金额")@Html.TextBoxFor(m => m.B_YingSFrec.FinanceMoney) </td>
       <td>@Html.LabelFor(m => m.B_YingSFrec.PayFavourable)@Html.EditorFor(m => m.B_YingSFrec.PayFavourable)</td>
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.B_YingSFrec.Payer)@Html.EditorFor(m => m.B_YingSFrec.Payer)</td> 
        <td>@Html.LabelFor(m => m.B_YingSFrec.Gatheringer)@Html.EditorFor(m => m.B_YingSFrec.Gatheringer)</td> 
    </tr>
    <tr> 
        <td colspan="2">@Html.LabelFor(m => m.B_YingSFrec.Remark)@Html.TextAreaFor(m => m.B_YingSFrec.Remark, new { style = "width:70%" }) </td>
    </tr> 
</table>
}
</div>


<div id="B_YingSFPayContractForm" class="mvcform" style="display:none;"> 
 
    @Html.Label("合同编码")@Html.TextBoxFor(m => m.B_Balance.ID, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.Label("合同号")@Html.TextBoxFor(m => m.B_Balance.Contract.ContractNo, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.Label("合同名称")@Html.TextBoxFor(m => m.B_Balance.Contract.ContractName, new { @readonly = "readonly", @class = "inputReadOnly" })
    @Html.Label("应付总金额")@Html.TextBoxFor(m => m.B_Balance.Contract.PayMoney,new { @readonly = "readonly", @class = "inputReadOnly" })
    
       <div  id="myJqGridPayDetial"></div>
 
@using (Html.BeginForm())
{@Html.ValidationSummary()
    @Html.HiddenFor(m => m.B_Balance.ID)
<table class="mvcform"> 
 
    <tr> 
        <td>@Html.LabelFor(m => m.B_Balance.PayType)@Html.DropDownListFor(m => m.B_Balance.PayType, (IEnumerable<SelectListItem>)ViewBag.FinanceType, "", new { @class = "text", style = "width:135px;" })</td>
    </tr>
      <tr> 
        <td>@Html.Label("日期")@Html.EditorFor(m => m.B_Balance.BaleDate, new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd") }) </td>
        <td>@Html.Label("付款金额")@Html.TextBoxFor(m => m.B_Balance.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
       
    </tr>
    <tr> 
          <td>@Html.LabelFor(m => m.B_Balance.Payer)@Html.EditorFor(m => m.B_Balance.Payer)</td> 
        <td>@Html.LabelFor(m => m.B_Balance.PayFavourable)@Html.TextBoxFor(m => m.B_Balance.PayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
     
    </tr>
    <tr> 
           <td>@Html.LabelFor(m => m.B_Balance.Gatheringer)@Html.EditorFor(m => m.B_Balance.Gatheringer)</td> 
           <td>@Html.Label("剩余应付额")@Html.TextBoxFor(m => m.B_Balance.PayOwing, new { @readonly = "readonly", @class = "inputReadOnly" })</td>
    </tr>
    <tr> 
        <td colspan="2">@Html.LabelFor(m => m.B_Balance.Remark2)@Html.TextAreaFor(m => m.B_Balance.Remark2, new { style = "width:70%" }) </td>
    </tr> 
</table>
}
</div>*@