
@model ZLERP.Model.SupplyChain.SC_NowLib 
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/SupplyChain/SC_NowLib.js")" type="text/javascript" language="javascript"> </script>
 
    <script type="text/javascript">
        $(function () { 
            SC_NowLibIndexInit({
                storeUrl: '@Url.Action("Find")',
                scTreeUrl: '@Url.Action("FindTree", "SC_Goods")' 
            });
        });
    </script>
}
 

<table width="100%">
    <tbody>
        <tr>
            <td width="200" valign="top">
                <div id="GoodgType" class="ztree" style="overflow: scroll;">
                </div>
            </td>
            <td>
               <input type="radio" id="radio_0" name="radio" value="0" checked="checked"  onclick="Search(0);"/><label for="radio_0">所有仓库</label> 
                  @{
                      int j = 0;
                      foreach (var lib in (IEnumerable<SelectListItem>)ViewBag.Libs)
                      {
                          if (j == 0)
                          {
                              
                            <input type="radio" id="radio_ @lib.Value" name="radio" value="@lib.Value"/><label for="radio_ @lib.Value">@lib.Text</label> 
                          }
                          else
                          {
                              <input type="radio" id="radio_ @lib.Value" name="radio" value="@lib.Value"/><label for="radio_ @lib.Value">@lib.Text</label> 
                     
                          }
                          j++;
                      }
                  }
          
          
                <div id="MyJqGrid" style="float: left; width: 100%; overflow: auto;">
                </div>
            </td>
        </tr>
    </tbody>
</table>
 