@model ZLERP.Model.Beton.V_B_TranBalance
@section HeaderSection{
<script src="@Url.Content("~/Scripts/Views/Beton/B_PonTranBalance.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            B_PonTranBalanceIndexInit(
                {
                    storeUrl: '@Url.Action("Find")',
                    DelstoreUrl: '@Url.Action("Find", "B_TranBalanceDel")',
                    ChangeConditionUrl: '@Url.Action("ChangeCondition")',
                    ComputeUrl: '@Url.Action("Compute")',
                    ShopdocUrl: '@Url.Action("Find", "ShippingDocument")',
                    AddShopdocUrl: '@Url.Action("AddShipDoc")',
                    AddAllBalanceUrl: '@Url.Action("AddAllBalance")',
                    UpdateUrl: '@Url.Action("Update", "B_TranBalanceDel")'
                }
             );
        });
</script>
}
<div id="PeCarMyJqGrid"">
</div> 
<div id="PeCarmyJqGridDetial"></div>
   <div  id="PeCarmyJqGridAddDetial" 
    </div>
<div  id="PeCarmyJqGridShowDetial" class="mvcform" style="display:none;">
 
</div>
 <div id="PeCarTranMyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td style="display: none">@Html.LabelFor(m => m.B_TranBalance.ID)@Html.EditorFor(m => m.B_TranBalance.ID)
                </td>
                <td>@Html.LabelFor(m => m.B_TranBalance.BaleNo)@Html.TextBoxFor(m => m.B_TranBalance.BaleNo, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                <td>@Html.LabelFor(m => m.B_TranBalance.OrderDate)@Html.EditorFor(m => m.B_TranBalance.OrderDate, "DateTime", new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd") })
                </td> 
           
            </tr>
            
            <tr> 
                <td>@Html.LabelFor(m => m.B_TranBalance.B_CarFleet.FleetName)@Html.TextBoxFor(m => m.B_TranBalance.B_CarFleet.FleetName, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
              
                  <td>@Html.LabelFor(m => m.B_TranBalance.ThatBaleMan)@Html.EditorFor(m => m.B_TranBalance.ThatBaleMan)
                </td> 
                <td>@Html.LabelFor(m => m.B_TranBalance.InMonth)@Html.EditorFor(m => m.B_TranBalance.InMonth)
                </td> 
            </tr>
             <tr>  
             <td colspan="3"><hr/></td>
            </tr>
              <tr>
                <td>@Html.LabelFor(m => m.B_TranBalance.ProjectID)@Html.TextBoxFor(m => m.B_TranBalance.ProjectID, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.B_TranBalance.Project.ProjectName)@Html.TextBoxFor(m => m.B_TranBalance.Project.ProjectName, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
             <tr>  
             <td colspan="3"><hr/></td>
            </tr>
            <tr>  
                <td>@Html.LabelFor(m => m.B_TranBalance.StartDate)@Html.EditorFor(m => m.B_TranBalance.StartDate)
                </td>
                <td>@Html.LabelFor(m => m.B_TranBalance.EndDate)@Html.EditorFor(m => m.B_TranBalance.EndDate)
                </td> 
             
            </tr>
             <tr>
                <td>@Html.LabelFor(m => m.B_TranBalance.IsOnePrice)@Html.EditorFor(m => m.B_TranBalance.IsOnePrice)
                </td> 
                <td>@Html.LabelFor(m => m.B_TranBalance.OnePriceType)@Html.EditorFor(m => m.B_TranBalance.OnePriceType) 
                </td>
                   <td>@Html.LabelFor(m => m.B_TranBalance.OnePrice)@Html.EditorFor(m => m.B_TranBalance.OnePrice)
               </td>    
            </tr>
              <tr>
               <td>@Html.LabelFor(m => m.B_TranBalance.IsStockPrice)@Html.EditorFor(m => m.B_TranBalance.IsStockPrice)
               </td>  
            </tr>
             <tr>  
             <td colspan="3"><hr/></td>
            </tr>
              <tr> 
                <td>@Html.LabelFor(m => m.B_TranBalance.AllCount)@Html.TextBoxFor(m => m.B_TranBalance.AllCount, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_TranBalance.AllMoney)@Html.TextBoxFor(m => m.B_TranBalance.AllMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
                 <tr>
              <td>@Html.LabelFor(m => m.B_TranBalance.AllOkCount)@Html.EditorFor(m => m.B_TranBalance.AllOkCount)
                </td>
                  <td>@Html.LabelFor(m => m.B_TranBalance.OtherMoney)@Html.EditorFor(m => m.B_TranBalance.OtherMoney)
                </td> 
                   <td>@Html.LabelFor(m => m.B_TranBalance.AllOkMoney)@Html.EditorFor(m => m.B_TranBalance.AllOkMoney)
                </td>
             </tr>
               <tr>
               
                <td>@Html.LabelFor(m => m.B_TranBalance.PayMoney)@Html.TextBoxFor(m => m.B_TranBalance.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.B_TranBalance.PayOwing)@Html.TextBoxFor(m => m.B_TranBalance.PayOwing, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.B_TranBalance.PayFavourable)@Html.TextBoxFor(m => m.B_TranBalance.PayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
              <tr>  
             <td colspan="3"><hr/></td>
            </tr>
           <tr>
              <td>@Html.LabelFor(m => m.B_TranBalance.BaleDate)@Html.EditorFor(m => m.B_TranBalance.BaleDate)
                </td>
                   <td>@Html.LabelFor(m => m.B_TranBalance.BaleMan)@Html.EditorFor(m => m.B_TranBalance.BaleMan)
                </td>
            </tr> 
              <tr>
                <td colspan="3">@Html.LabelFor(m => m.B_TranBalance.Remark)@Html.TextAreaFor(m => m.B_TranBalance.Remark, new { style = "width:70%" })  
                </td>  
            </tr>
        </table>

    }
</div>
 
