
@model ZLERP.Model.SupplyChain.SC_Goods 
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/ajaxfileupload.js")" type="text/javascript" language="javascript"> </script>
    <script src="@Url.Content("~/Scripts/Views/SupplyChain/SC_Goods.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
           SC_GoodsIndexInit({
                storeUrl: '@Url.Action("Find")',
                scTreeUrl: '@Url.Action("FindTree", "SC_Goods")' ,
                scAddType: '@Url.Action("AddGoodsType", "SC_Goods")',
                scEditType: '@Url.Action("EditGoodsType", "SC_Goods")',
                uploadUrl: '@Url.Action("Upload", "Attachment")', //附加上传
                scDeleteType: '@Url.Action("DeleteGoodsType", "SC_Goods")',
                LP_TOPY_SHORTUrl: '@Url.Action("LP_TOPY_SHORT", "SC_Fixed")',
                uploadUrl: '@Url.Action("LoadExcel")'
            });
        });
        $("#formula-tabs").tabs({ fx: {}, selected: 0 });
    </script>
}
<div id="MyFormDiv" style="display: none;width: 100%">
<div id="formula-tabs" class="mvcform" style="float: left; width: 100%;">
        <ul>
            <li><a href="#info1" id="idinfo1">基本信息</a></li>
            <li><a href="#info2" id="idinfo2">辅助单位维护</a></li>
        </ul>
       <div id="info1">
          @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.ID) 
        <table class="mvcform" style="width: 100%">
            <tr> 
                <td colspan="2">@Html.LabelFor(m => m.GoodsName)@Html.EditorFor(m => m.GoodsName) 
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.GoodsCode)@Html.EditorFor(m => m.GoodsCode)</td>
                <td>@Html.LabelFor(m => m.GoodsNo)@Html.EditorFor(m => m.GoodsNo)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Spec)@Html.EditorFor(m => m.Spec) 
                </td>
                <td>@Html.LabelFor(m => m.Unit)@Html.DropDownListFor(m => m.Unit, (IEnumerable<SelectListItem>)ViewBag.ItemsType, "", new { @class = "text", style = "width: 120px", id = "Unit" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.MinWarning)@Html.EditorFor(m => m.MinWarning)
                </td>
                <td>@Html.LabelFor(m => m.MaxWarning)@Html.EditorFor(m => m.MaxWarning)
                </td>
                
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.TypeNo)@Html.DropDownTreeFor(m => m.TypeNo, "FindTree", "SC_Goods")
                </td>
                <td>@Html.LabelFor(m => m.Price)@Html.TextBoxFor(m => m.Price, new { Value = "0" })
                </td>
               
            </tr>
               <tr> 
                <td>@Html.LabelFor(m => m.Price2)@Html.TextBoxFor(m => m.Price2)
                </td>
                <td>@Html.LabelFor(m => m.Price3)@Html.TextBoxFor(m => m.Price3)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SellerNo)@Html.EditorFor(m => m.SellerNo)
                </td>
                  <td>@Html.LabelFor(m => m.Brand)@Html.DropDownListFor(m => m.Brand, (IEnumerable<SelectListItem>)ViewBag.Brand, "", new { @class = "text", style = "width: 120px", id = "Brand" })
                </td> 
             
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.IsAuxiliaryUnit)@Html.EditorFor(m => m.IsAuxiliaryUnit)</td>
                <td>@Html.LabelFor(m => m.IsOff)@Html.EditorFor(m => m.IsOff)
                </td> 
              
            </tr> 
            <tr>
                 <td  colspan="2"> 
                      <label>商品文件
                    </label><input type="file" id="uploadFile" name="upload" />
                    <div id="Attachments" style="clear: both;">
                    </div>
                </td> 
               
            </tr>
               <tr>
               <td>@Html.LabelFor(m => m.BrevityCode)@Html.TextBoxFor(m => m.BrevityCode, new { readOnly = true, @class = "inputReadOnly" }) </td>
           </tr>
            <tr>
                <td colspan="2">@Html.LabelFor(m => m.Remark)@Html.TextAreaFor(m => m.Remark, new { style = "width:75%" })
                </td>
            </tr>
           
        </table>

    }
       </div>
       <div id="info2">
           <div id="SC_GoodsUnitGrid">
           </div>
       </div>
</div>
</div>

<div id="MyGoodsTypeFormDiv" class="mvcform" style="display: none;">
        <table class="mvcform">
            <tr>
                 <td>
                 <label >父类名称</label>
                 <input type="text" id="ParentType" name="ParentType" disabled="disabled" /> 
                 </td>
            </tr> 
            <tr>
                 <td>
                 <label for="TypeName">子类名称</label>
                 <input type="text" id="TypeName" name="TypeName" /> 
                 </td>
            </tr> 
             <tr> <td>
                 <label for="OrderNo">排序</label>
                 <input type="text" id="OrderNo" name="OrderNo" /> 
                  </td>
            </tr> 
        </table>
</div>

<div id="MyGoodsTypeEditFormDiv" class="mvcform" style="display: none;">
        <table class="mvcform"> 
            <tr>
                 <td>
                 <label for="TypeNameEdit">子类名称</label>
                 <input type="text" id="TypeNameEdit" name="TypeName" /> 
                 </td>
            </tr> 
             <tr> <td>
                 <label for="OrderNoEdit">排序</label>
                 <input type="text" id="OrderNoEdit" name="OrderNo" /> 
                  </td>
            </tr> 
        </table>
</div>

<table width="100%">
    <tbody>
        <tr>
            <td width="200" valign="top">
                <div id="GoodgType" class="ztree" style="overflow: scroll;">
                </div>
            </td>
            <td>
                <div id="MyJqGrid" style="float: left; width: 100%; overflow: auto;">
                </div>
            </td>
        </tr>
    </tbody>
</table>
 
@*单位维护界面*@
<div id="GoodsUnitFormDiv" class="mvcform" style="display:none;">
@using (Html.BeginForm())
{@Html.ValidationSummary()
<table class="mvcform"> 
    <tr> 
        <td>@Html.Hidden("ID")</td>
   
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.SC_GoodsUnit.GoodsID)<input type="text" id="GoodsID" name="GoodsID" readonly/></td>
   
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.SC_GoodsUnit.UnitDesc)@Html.TextBox("UnitDesc")</td>
   
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.SC_GoodsUnit.Unit)@Html.DropDownList("Unit", (IEnumerable<SelectListItem>)ViewBag.ItemsType, "", new { @class = "text", style = "width: 120px", id = "Unit" })</td>
   
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.SC_GoodsUnit.Rate)@Html.TextBox("Rate")<span id="baseunit"></span></td>
   
    </tr>
    <tr> 
        <td>@Html.LabelFor(m => m.SC_GoodsUnit.Meno)@Html.TextBox("Meno")</td>
    </tr>
</table>
}
</div>

<div id="MyFormDiv1" class="mvcform" style="display: none;">
        <table class="mvcform">
         <tr> 
        <td  colspan="2">
          <label>请选择文件
            </label><input type="file" id="uploadFile1" name="upload" /> 
        </td> 
        </tr>  
         <tr><td>请将数据整理并添加到《商品资料导入模板》后，上传即可</td></tr>
          <tr><td><a href="/Content/Files/Temp/商品资料导入模板.xls">点击下载《商品资料导入模板》</a></td></tr>
        </table>
    
</div>
