@model ZLERP.Model.Organization
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/Organization/Organization.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            organizationIndexInit('@Url.Action("FindOrganizations")');
        });
    </script>
}
<div id="organizationForm" style="display: none;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.ID)
        <table class="mvcform">
            <tr>
                <td>@Html.LabelFor(m => m.OrganizationName)@Html.TextBoxFor(m => m.OrganizationName, new { @class = "text" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.OrganizationLevel)@Html.TextBoxFor(m => m.OrganizationLevel)
                </td> 
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ParentId)@Html.DropDownTreeFor(m => m.ParentId, "FindTree")
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.IsLeaf)@Html.CheckBoxFor(m => m.IsLeaf)
                </td>
            </tr>            
        </table>
    }
</div>
<div id="organization-grid">
</div>
