@model ZLERP.Model.Material.V_M_BaleBalance
@section HeaderSection{
<script src="@Url.Content("~/Scripts/Views/Material/M_BaleBalance.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            M_BaleBalanceIndexInit(
                {
                    storeUrl: '@Url.Action("Find")',
                    DelstoreUrl: '@Url.Action("Find", "M_BaleBalanceDel")',
                    UpdateUrl: '@Url.Action("Update", "M_BaleBalanceDel")',
                    ChangeConditionUrl: '@Url.Action("ChangeCondition")' ,
                    ComputeUrl: '@Url.Action("Compute")',
                    StuffInUrl: '@Url.Action("Find", "StuffIn")',
                    AddAllBalanceUrl: '@Url.Action("AddAllBalance")',
                    AddStuffInUrl: '@Url.Action("AddStuffIn")' 
                }
             );
        });
</script>
}
<div id="MyJqGrid"">
</div> 
<div id="myJqGridDetial"></div>
   <div  id="myJqGridAddDetial" >
    </div>
<div  id="myJqGridShowDetial" class="mvcform" style="display:none;">
@*    @Html.Label("进料单号")@Html.EditorFor(m => m.OrderNo) 
                <button id="sbb" class="tbtn ui-icon-search" style=" margin:0px;" title="大类/查询" role="button" aria-disabled="false" type ="button" onclick="Search('B');return false;">查询</button>
*@
 
</div>
 <div id="MyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td style="display: none">@Html.LabelFor(m => m.M_BaleBalance.ID)@Html.EditorFor(m => m.M_BaleBalance.ID)
                </td>
                <td>@Html.LabelFor(m => m.M_BaleBalance.BaleNo)@Html.TextBoxFor(m => m.M_BaleBalance.BaleNo, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                <td>@Html.LabelFor(m => m.M_BaleBalance.OrderDate)@Html.EditorFor(m => m.M_BaleBalance.OrderDate, "DateTime", new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd") })
                </td> 
                 <td>@Html.LabelFor(m => m.M_BaleBalance.StockPactID)@Html.TextBoxFor(m => m.M_BaleBalance.StockPactID, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr> 
            <tr> 
                
                <td>@Html.LabelFor(m => m.M_BaleBalance.SupplyInfo.SupplyName)@Html.TextBoxFor(m => m.M_BaleBalance.SupplyInfo.SupplyName, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                <td>@Html.LabelFor(m => m.M_BaleBalance.ThatBaleMan)@Html.EditorFor(m => m.M_BaleBalance.ThatBaleMan)
                </td> 
                       <td>@Html.LabelFor(m => m.M_BaleBalance.InMonth)@Html.EditorFor(m => m.M_BaleBalance.InMonth)
                </td> 
            </tr>
             <tr>  
             <td colspan="3"><hr/></td>
            </tr>
              <tr>
                <td>@Html.LabelFor(m => m.M_BaleBalance.StuffID)@Html.TextBoxFor(m => m.M_BaleBalance.StuffID, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.M_BaleBalance.StuffInfo.StuffName)@Html.TextBoxFor(m => m.M_BaleBalance.StuffInfo.StuffName, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
             
                
            </tr>
             <tr>  
             <td colspan="3"><hr/></td>
            </tr>
            <tr>  
                <td>@Html.LabelFor(m => m.M_BaleBalance.StartDate)@Html.EditorFor(m => m.M_BaleBalance.StartDate)
                </td>
                <td>@Html.LabelFor(m => m.M_BaleBalance.EndDate)@Html.EditorFor(m => m.M_BaleBalance.EndDate)
                </td> 
                <td>@Html.LabelFor(m => m.M_BaleBalance.BaleType)@Html.DropDownListFor(m => m.M_BaleBalance.BaleType, (IEnumerable<SelectListItem>)ViewBag.ItemsType, new { @class = "text", style = "width:135px;" }) 
                </td>   
            </tr>
             <tr>
                <td>@Html.LabelFor(m => m.M_BaleBalance.IsOnePrice)@Html.EditorFor(m => m.M_BaleBalance.IsOnePrice)
                </td> 
                <td>@Html.LabelFor(m => m.M_BaleBalance.OnePrice)@Html.EditorFor(m => m.M_BaleBalance.OnePrice)
                </td>
                <td>@Html.LabelFor(m => m.M_BaleBalance.IsStockPrice)@Html.EditorFor(m => m.M_BaleBalance.IsStockPrice)
                </td> 
            </tr>
             <tr>  
             <td colspan="3"><hr/></td>
            </tr>
              <tr>
               
                <td>@Html.LabelFor(m => m.M_BaleBalance.AllCount)@Html.TextBoxFor(m => m.M_BaleBalance.AllCount, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.M_BaleBalance.AllMoney)@Html.TextBoxFor(m => m.M_BaleBalance.AllMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
                 <tr>
              <td>@Html.LabelFor(m => m.M_BaleBalance.AllOkCount)@Html.EditorFor(m => m.M_BaleBalance.AllOkCount)
                </td>
                   <td>@Html.LabelFor(m => m.M_BaleBalance.AllOkMoney)@Html.EditorFor(m => m.M_BaleBalance.AllOkMoney)
                </td>
            </tr>
               <tr>
               
                <td>@Html.LabelFor(m => m.M_BaleBalance.PayMoney)@Html.TextBoxFor(m => m.M_BaleBalance.PayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.M_BaleBalance.PayOwing)@Html.TextBoxFor(m => m.M_BaleBalance.PayOwing, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.M_BaleBalance.PayFavourable)@Html.TextBoxFor(m => m.M_BaleBalance.PayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
                  <tr>
               
                <td>@Html.LabelFor(m => m.M_BaleBalance.PiaoPayMoney)@Html.TextBoxFor(m => m.M_BaleBalance.PiaoPayMoney, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td>
                  <td>@Html.LabelFor(m => m.M_BaleBalance.PiaoPayOwing)@Html.TextBoxFor(m => m.M_BaleBalance.PiaoPayOwing, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
                 <td>@Html.LabelFor(m => m.M_BaleBalance.PiaoPayFavourable)@Html.TextBoxFor(m => m.M_BaleBalance.PiaoPayFavourable, new { @readonly = "readonly", @class = "inputReadOnly" })
                </td> 
            </tr>
              <tr>  
             <td colspan="3"><hr/></td>
            </tr>
           <tr>
              <td>@Html.LabelFor(m => m.M_BaleBalance.BaleDate)@Html.EditorFor(m => m.M_BaleBalance.BaleDate)
                </td>
                   <td>@Html.LabelFor(m => m.M_BaleBalance.BaleMan)@Html.EditorFor(m => m.M_BaleBalance.BaleMan)
                </td>
            </tr> 
              <tr>
                <td colspan="3">@Html.LabelFor(m => m.M_BaleBalance.Remark)@Html.TextAreaFor(m => m.M_BaleBalance.Remark, new { style = "width:70%" })  
                </td>  
            </tr>
        </table>

    }
</div>
 
