@model ZLERP.Model.CustomerPlanGH
@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/CustomerPlanGH/CustomerPlanGH.js")" type="text/javascript" language="javascript"> </script>
    <script type="text/javascript">
        $(function () {
            customerplanIndexInit({
                storeUrl: '@Url.Action("Find")',
                getUserUrl: '@Url.Action("Get", "User")',
                tomorrowDate: '@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")',
                todayDate: '@DateTime.Today.ToString("yyyy-MM-dd")'
            });
        });

    </script>
}
<div id="MyJqGrid">
</div>
<div id="MyFormDiv" class="mvcform" style="display: none;">
    <div style="float: left; width: 50%">
        @using (Html.BeginForm())
        {@Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td>@Html.TextBoxFor(m => m.ID, new { @style = "display:none;" })
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.Label("合 同 号")@Html.AutoComplete("ContractID", "ContractName", "Combo", "CustomerPlanGH", "ID", "ContractNo", "AuditStatus = 1 and ContractStatus!='3' AND IsLimited = 0 ", new { style = "width:320px" })
                </td>
            </tr>
       @*     <tr>
              
                <td colspan="2">@Html.Label("客户名称")<input id="custname" style="width: 347px;" readonly /> 
                </td>
            </tr>*@
              <tr>
                <td colspan="2" >@Html.LabelFor(m => m.ContractGH.CustName)@Html.TextBoxFor(m => m.ContractGH.CustName, new {  style = "width:350px; ", @readOnly = true, @class = "inputReadOnly" }) 
                </td>
            </tr>
            
            <tr>
                <td colspan="2" style="display: none;">@Html.LabelFor(m => m.ContractNo)@Html.TextBoxFor(m => m.ContractNo, new { style = "width:350px;color:Red;", @ReadOnly = true })
                </td>
            </tr>
            <tr>
                <td colspan="2" >@Html.LabelFor(m => m.ProjectName)@Html.DropDownListFor(m => m.ProjectName, Enumerable.Empty<SelectListItem>(), new { zlerp = "combobox", style = "width:260px;" })
                 <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" title="借鉴" role="button" aria-disabled="false" type ="button" onclick="SearchProHis();return false;"><span class="ui-button-text">借鉴</span></button>
                    
                </td>

            </tr> 
            <tr>
                <td colspan="2">@Html.LabelFor(m => m.BuildUnit)@Html.TextBoxFor(m => m.BuildUnit, new { style = "width:348px;" })
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.LabelFor(m => m.ConstructUnit)@Html.TextBoxFor(m => m.ConstructUnit, new { style = "width:348px;" })
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Html.LabelFor(m => m.ProjectAddr)@Html.TextBoxFor(m => m.ProjectAddr, new { style = "width:348px;" })
                </td>
                @*<td>@Html.LabelFor(m => m.SupplyUnit)@Html.DropDownListFor(m => m.SupplyUnit, (IEnumerable<SelectListItem>)ViewBag.SupplyUnit, new { style = "width:137px" })</td>*@
             @*   <td>
                    @Html.LabelFor(m => m.DeliveryAddress)@Html.TextBoxFor(m => m.DeliveryAddress, new { @data_val_required = "交货地址 字段是必需的", data_val = "true" })
                </td>*@
                <td style="display:none;">
                    @Html.LabelFor(m => m.SupplyUnit)@Html.DicEditorFor(m => m.SupplyUnit, DicEnum.SupplyUnitSupplyUnit, new { style = "width:140px;" })
                </td>
            </tr>
 
            <tr>
                <td>@Html.LabelFor(m => m.ConsPos)@Html.EditorFor(m => m.ConsPos)
                </td>
                <td>@Html.LabelFor(m => m.LinkMan)@Html.DropDownListFor(m => m.LinkMan, (IEnumerable<SelectListItem>)ViewBag.LinkManList, new { zlerp = "combobox" })</td>
            </tr>
            <tr>
                @*<td>@Html.LabelFor(m => m.ConStrength)@Html.DropDownListFor(m => m.ConStrength, (IEnumerable<SelectListItem>)ViewBag.ConStrength, new {@data_val_required = "砼强度 字段是必需的", data_val = "true", zlerp = "combobox" })</td>*@
                <td>@Html.Label("强 度")@Html.DropDownListFor(m => m.ConStrength, Enumerable.Empty<SelectListItem>(), new { @data_val_required = "强度 字段是必需的", data_val = "true", zlerp = "combobox" })
                </td>
                <td>@Html.LabelFor(m => m.Tel)@Html.TextBoxFor(m => m.Tel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CastMode)@Html.DicComboBoxFor(m => m.CastMode, DicEnum.CastModeGH, new { style = "width:80px;" })
                    @*@Html.LabelFor(m => m.CastMode)@Html.DicEditorFor(m => m.CastMode, DicEnum.CastMode, new { style = "width:140px;" })*@
                    @*@Html.LabelFor(m => m.CastMode)@Html.DropDownListFor(m => m.CastMode, Enumerable.Empty<SelectListItem>(), "")*@
                </td>
                <td>@Html.LabelFor(m => m.NeedDate)@Html.DropDownListFor(m => m.NeedDate, (IEnumerable<SelectListItem>)ViewBag.NeedDateList, new { style = "width:80px;", zlerp = "combobox" })
                </td>
            </tr>
            @*<tr>
        <td>@Html.LabelFor(m => m.PiepLen)@Html.EditorFor(m => m.PiepLen)</td>
        <td>@Html.LabelFor(m => m.PumpMan)@Html.DropDownListFor(m => m.PumpMan, (IEnumerable<SelectListItem>)ViewBag.PumpManList, new { style = "width:137px;" })</td>
    </tr>*@
            <tr>
                <td>@Html.LabelFor(m => m.PlanCube)@Html.EditorFor(m => m.PlanCube)
                </td>
                <td>@Html.LabelFor(m => m.PlanDate)@Html.EditorFor(m => m.PlanDate, "DateTime", new { defaultValue = DateTime.Now.AddDays(1).ToString("yyyy-MM-dd") })
                </td>
            </tr>
            <tr>
                <td style="display:none;">@Html.LabelFor(m => m.Slump)@Html.DicComboBoxFor(m => m.Slump, DicEnum.Slump, new { style = "width:80px;" })
                </td>
                <td style="display:none;">@Html.LabelFor(m => m.PumpName)@Html.DropDownListFor(m => m.PumpName, (SelectList)ViewBag.PumpList, "", new { style = "width:137px;" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.TaskID)@Html.DropDownListFor(m => m.TaskID, Enumerable.Empty<SelectListItem>(), new { style = "width:137px;" })
                </td>
                <td  style="display:none;">@Html.LabelFor(m => m.PumpMan)@Html.DropDownListFor(m => m.PumpMan, (IEnumerable<SelectListItem>)ViewBag.PumpManList, new { style = "width:137px;" })
                </td>
            </tr>
            <tr>
                
                <td  style="display:none;">@Html.LabelFor(m => m.PiepLen)@Html.TextBoxFor(m => m.PiepLen)
                </td>
            </tr>
            <tr>
                <td colspan='4'>@Html.LabelFor(m => m.Remark)@Html.TextAreaFor(m => m.Remark, new { style = "width:350px;" })
                </td>
            </tr>
           @* <tr>
               <td>
                  <div style="float: right; vertical-align: middle;">
                        <span class="ui-button-icon-primary ui-icon ui-icon-person" style="float: left; margin-top: 0px;">
                        </span>
                        <span style="float: right;">
                            <input type="button" id="choseUserBtn" class="definBtnWithUnderline" style="border: none;"
                                value="选择联系人" /></span><span style=""> </span>
                    </div>
               </td>
            </tr>*@
        </table> 
        }
    </div>
    <div style="float: left; width: 50%">
        <div id="MyJqGridHis">
        </div>
    </div>
</div>

@*复制计划单*@
<div id="CopyPlanForm" style="display:none;">
    <span style="color:Red;">工地计划编号：</span><span id="planid" style="color:Red;">CP111111</span>
    <div id="ConStrengthGrid"></div>
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
     <table class="mvcform">
        <tr>
            <td>
              
            </td>
            <td>
                施工部位 <input type="text" id="ConsPos2" data-val="true" data-val-required="施工部位 字段是必需的。"/>
            </td>
        </tr>
    </table>
    }
</div>

<script type="text/javascript">

</script>
