@model ZLERP.Model.ShippingDocumentGH

@section HeaderSection{
    <script src="@Url.Content("~/Scripts/Views/ShippingDocumentGH/SettleShipDoc.js")" type="text/javascript" language="javascript"> </script>
    <script src="@Url.Content("~/Scripts/moment.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            shipDocInit({
                storeUrl: '@Url.Action("Find")',
                garbageUrl: '@Url.Action("Garbage")',
                getUrl: '@Url.Action("Get")',
                AuditUrl: '@Url.Action("Audit")',
                MultiAuditUrl: '@Url.Action("MultiAudit")',
                GetTemplateInfoUrl: '@Url.Action("Get", "Dic")',
                dispatchHisStoreUrl: '@Url.Action("Find", "DispatchListHistory")',
                ShipHisStoreUrl: '@Url.Action("Find", "ShippingDocumentHistory")',
                findShipDocHisUrl: '@Url.Action("Find", "ShippingDocumentHistory")',
                handleBatchAuditUrl: '@Url.Action("BatchAudit")',
                getCarInfoUrl: '@Url.Action("GetInfo", "Car")',
                MetageUpdateUrl: '@Url.Action("MetageUpdate")',
                TranBalanceUrl:'@Url.Action("TranBalance")',
                BalanceUrl: '@Url.Action("Balance")',
                PotonBalanceUrl: '@Url.Action("PotonBalance")',
                PeCarBalanceUrl: '@Url.Action("PeCarBalance")'
            }); 
        });
    </script>
    <style  type="text/css">
            #SamplingCheck{  
            }  
  
            #SamplingCheck ul{  
                margin:20px;  
                padding:0px;  
                list-style-type:none;  
                vertical-align:middle ;  
            }  
  
            #SamplingCheck li{  
                float:left;  
                display:block;  
  
                width:100px;  
                height:20px;  
                line-height:20px;  
  
                font-size:14px;  
                font-weight:bold;  
                color:#666666;  
  
                text-decoration:none;  
                text-align:left;  
  
                background:#ffffff;  
            }  
            
    </style>
}
<div id="shippDocGrid">
</div>

<div id="MyFormDiv" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    {@Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td>@Html.LabelFor(m => m.ID)@Html.EditorFor(m => m.ID)
                </td>
                <td>@Html.LabelFor(m => m.TaskID)@Html.AutoComplete("TaskID", "ProjectName", "Combo", "ProduceTask", "ID", "ProjectName")
                </td>
                <td>@Html.LabelFor(m => m.ShipDocType)@Html.EditorFor(m => m.ShipDocType)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.CarID)@Html.DropDownListFor(m => m.CarID, (SelectList)ViewBag.CarDics, "", new { style = "width:110px;" })
                </td>
                <td>@Html.LabelFor(m => m.Driver)@Html.EditorFor(m => m.Driver)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.BetonCount)@Html.EditorFor(m => m.BetonCount)
                </td>
                <td>@Html.LabelFor(m => m.SlurryCount)@Html.TextBoxFor(m => m.SlurryCount, new { Value = 0 })
                </td>
                <td>@Html.LabelFor(m => m.SendCube)@Html.EditorFor(m => m.SendCube)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ParCube)@Html.EditorFor(m => m.ParCube)
                </td>
                <td>@Html.LabelFor(m => m.RemainCube)@Html.TextBoxFor(m => m.RemainCube, new { Value = 0 })
                </td>
                <td>@Html.LabelFor(m => m.SignInCube)@Html.EditorFor(m => m.SignInCube)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.OtherCube)@Html.TextBoxFor(m => m.OtherCube, new { Value = 0 })
                </td>
              @*  <td>@Html.LabelFor(m => m.SumPrice)@Html.EditorFor(m => m.SumPrice)
                </td>*@
                <td>@Html.LabelFor(m => m.DeliveryTime)@Html.EditorFor(m => m.DeliveryTime)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ArriveTime)@Html.EditorFor(m => m.ArriveTime)
                </td>
                <td>@Html.LabelFor(m => m.Surveyor)@Html.EditorFor(m => m.Surveyor)
                </td>
                <td>@Html.LabelFor(m => m.Accepter)@Html.EditorFor(m => m.Accepter)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Signer)@Html.EditorFor(m => m.Signer)
                </td>
                <td>@Html.LabelFor(m => m.ForkLift)@Html.EditorFor(m => m.ForkLift)
                </td>
                <td>@Html.LabelFor(m => m.Operator)@Html.EditorFor(m => m.Operator)
                </td>
            </tr>
            <tr>
           
                <td>@Html.LabelFor(m => m.ProduceDate)@Html.EditorFor(m => m.ProduceDate, new { id = "add_ProduceDate" })
                </td>
                <td>@Html.LabelFor(m => m.ProductLineID)@Html.EditorFor(m => m.ProductLineID)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.IsEffective)@Html.CheckBoxFor(m => m.IsEffective)
                </td>
                <td>@Html.LabelFor(m => m.IsBack)@Html.CheckBoxFor(m => m.IsBack)
                </td>
                <td>@Html.LabelFor(m => m.IsAudit)@Html.CheckBoxFor(m => m.IsAudit)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Remark)@Html.EditorFor(m => m.Remark)
                </td>
                <td>@Html.LabelFor(m => m.TotalProduceCube)@Html.EditorFor(m => m.TotalProduceCube)
                </td>
            </tr>
        </table>
    }
</div>

@*票据核对表单*@
<div id="CheckFee" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td>@Html.Label("运输单号")@Html.EditorFor(m => m.ID)
                </td>
                <td>@Html.LabelFor(m => m.ProduceDate)@Html.TextBoxFor(m => m.ProduceDate, new { Disabled = true })
                </td>
                @*<td>@Html.LabelFor(m => m.SettleDate)@Html.Editor("SettleDate", "DateTimeWithTime", new { defaultValue = @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
                </td>*@
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.SettleDate)@Html.Editor("SettleDate", "DateTimeWithTime" )
                </td>
                <td>@Html.LabelFor(m => m.EmptyFee)@Html.TextBoxFor(m => m.EmptyFee, new { @Value = "0" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.OverTimeFee)@Html.TextBoxFor(m => m.OverTimeFee, new { @Value = "0" })
                </td>
                <td>@Html.LabelFor(m => m.OtherFee)@Html.TextBoxFor(m => m.OtherFee, new { @Value = "0" })
                </td>
            </tr>
            <tr>
                <td colspan='2'>@Html.LabelFor(m => m.RemarkJS)@Html.TextBoxFor(m => m.RemarkJS, new { style = "width:350px;" })
                </td>
            </tr>
        </table>
    }
</div>


<div id="YunfeiForm" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td>@Html.Label("运输单号")@Html.EditorFor(m => m.ID)
                </td>
                <td>@Html.LabelFor(m => m.ProduceDate)@Html.TextBoxFor(m => m.ProduceDate, new { Disabled = true })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.y_OtherMoney)@Html.TextBoxFor(m => m.y_OtherMoney, new { @Value = "0" })
                </td>
                <td>@Html.LabelFor(m => m.y_ExtraMoney)@Html.TextBoxFor(m => m.y_ExtraMoney, new { @Value = "0" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.y_OuttimeMoney)@Html.TextBoxFor(m => m.y_OuttimeMoney, new { @Value = "0" })
                </td>
            </tr>
            <tr>
                <td colspan='2'>@Html.LabelFor(m => m.y_Remark)@Html.TextBoxFor(m => m.y_Remark, new { style = "width:350px;" })
                </td>
            </tr>
        </table>
    }
</div>

@*自定义时间*@
<div id="SelectTimeForm" class="mvcform" style="display: none;">
    @using (Html.BeginForm())
    { 
        @Html.ValidationSummary()
        <table class="mvcform">
            <tr>
                <td> <input id='radio1' type="radio"  value="0"  name="radioDate" checked="checked"/>生产时间
                    <input id='radio2' type="radio"   value="1"  name="radioDate" />出厂时间
                </td>
            </tr>
            <tr>
                <td>@Html.Label("起始时间")@Html.Editor("sBeginTime", "DateTimeWithTime")
                </td>
            </tr>
            <tr>
                <td>@Html.Label("终止时间")@Html.Editor("sEndTime", "DateTimeWithTime")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("自动关闭")@Html.CheckBox("sIsAutoClose")
                </td>
            </tr>
        </table>
    }
</div>


@*抽样*@
<div id="SamplingCheck" class="mvcform" style="display: none;">
    
</div>